<div class="container">
    <div class="right">
        <div class="top">
            <button id="menu-btn">
                <span class="material-icons-sharp">menu</span>
            </button>
           
            <div class="profile">
                <div class="info">
                    <p>Chào , <b>Admin</b></p>
                    <small class="text-muted">Admin</small>
                </div>
                <div class="profile-photo">
                    <img src="surprised-business-man-sitting-table-blue-studio-wall.jpg">
                </div>
            </div>
        </div>
        <div class="recent-updates">
            <h2>Cập Nhật Gần Đây</h2>
            <div class="updates">
                <div class="update">
                    <div class="profile-photo">
                        <img src="handsome-happy-man-posing-studio.jpg">
                    </div>
                    <div class="message">
                        <p>Châu Nam Trung<b> đã đặc phòng Deluxe</b></p>
                        <small class="text-muted">10 phút trước</small>
                    </div>
                </div>
                <div class="update">
                    <div class="profile-photo">
                        <img src="man-holding-business-card-presenting-recieving-it.jpg">
                    </div>
                    <div class="message">
                        <p>Trần Mạc Anh Tuyên <b> đã thanh toán hóa đơn</b></p>
                        <small class="text-muted">30 phút trước</small>
                    </div>
                </div>
                <div class="update">
                    <div class="profile-photo">
                        <img src="young-crazy-man-worried.jpg">
                    </div>
                    <div class="message">
                        <p>Nguyễn Đăng Quang<b> đã checkout</b></p>
                        <small class="text-muted">15 phút trước</small>
                    </div>
                </div>
        </div>
        </div>
        <div class="sales-analytics">
            <h2>Thống Kê</h2>
            <div class="item offline">
                <div class="icon">
                    <span class="material-icons-sharp">hotel</span>
                </div>
                <div class="right">
                    <div class="info">
                        <h3>Phòng đã đặt</h3>
                        <small class="text-muted">24 giờ qua</small>
                    </div>
                    <h5 class="success">+15%</h5>
                    <h3>120</h3>
                </div>
            </div>
            <div class="item online">
                <div class="icon">
                    <span class="material-icons-sharp">attach_money</span>
                </div>
                <div class="right">
                    <div class="info">
                        <h3>Doanh thu</h3>
                        <small class="text-muted">24 giờ qua</small>
                    </div>
                    <h5 class="success">+25%</h5>
                    <h3>$8,520</h3>
                </div>
            </div>
            <div class="item customers">
                <div class="icon">
                    <span class="material-icons-sharp">group</span>
                </div>
                <div class="right">
                    <div class="info">
                        <h3>Khách hàng mới</h3>
                        <small class="text-muted">24 giờ qua</small>
                    </div>
                    <h5 class="success">+10%</h5>
                    <h3>45</h3>
                </div>
            </div>
            <div class="item add-product">
                <span class="material-icons-sharp">add</span>
                <h3>Thêm Phòng</h3>
            </div>
        </div>
    </div>
</div>
