<!-- home -->
<section class="home" id="home">
  <div class="container">
    <h1>Tạo Dấu Ấn Kỷ Niệm</h1>
    <p>Khám phá nơi bạn sẽ tận hưởng những giây phút vui vẻ và thư giãn tuyệt vời</p>

    <div class="content grid">
      <div class="box">
        <span>Ngày Đến</span> <br>
        <input type="date" placeholder="29/12/2021">
      </div>
      <div class="box">
        <span>Ngày Đi</span> <br>
        <input type="date" placeholder="29/12/2021">
      </div>
      <div class="box">
        <span>Số Người Lớn</span> <br>
        <input type="number" placeholder="1">
      </div>
      <div class="box">
        <span>Số Trẻ Em</span> <br>
        <input type="number" placeholder="0">
      </div>
      <div class="box">
        <button class="flex1">
          <span>Kiểm Tra Tình Trạng Phòng</span>
          <i class="fas fa-arrow-circle-right"></i>
        </button>
      </div>
    </div>
  </div>
</section>

<!-- blog -->
<section class="blog top" id="blog">
  <div class="container">
    <div class="heading">
      <h5>HÔM NAY TRÊN BLOG</h5>
      <h3>Cập nhật tin tức và bài viết mới</h3>
    </div>

    <div class="content grid mtop">
      <div class="box">
        <div class="img">
          <img src="assets/user/image/b1.jpg" alt="">
          <span>KHÁCH SẠN</span>
        </div>
        <div class="text">
          <div class="flex">
            <i class="far fa-user"> <label>Admin</label> </i>
            <i class="far fa-comments"> <label>5 Bình luận</label> </i>
          </div>
          <h3>Lễ Kỷ Niệm 10 Năm Khai Trương Khách Sạn Vào Năm 2020</h3>
          <p>Khách sạn chúng tôi vinh dự được đón tiếp quý khách trong suốt một thập kỷ qua. Đừng bỏ lỡ những câu chuyện và thông tin thú vị trong sự kiện kỷ niệm đặc biệt này!</p>
          <a href="#">Đọc Thêm <i class='far fa-long-arrow-alt-right'></i></a>
        </div>
      </div>
      <div class="box">
        <div class="img">
          <img src="assets/user/image/b2.jpg" alt="">
          <span>HOTEL</span>
        </div>
        <div class="text">
          <div class="flex">
            <i class="far fa-user"> <label>Admin</label> </i>
            <i class="far fa-comments"> <label>3 Bình luận</label> </i>
          </div>
          <h3>Khám Phá Các Tiện Nghi Mới Tại Khách Sạn Của Chúng Tôi</h3>
          <p>Chúng tôi không ngừng nâng cấp và mang đến những tiện nghi mới nhất để giúp kỳ nghỉ của bạn thêm phần hoàn hảo. Hãy cùng khám phá ngay hôm nay!</p>
          <a href="#">Đọc Thêm <i class='far fa-long-arrow-alt-right'></i></a>
        </div>
      </div>
      <div class="box">
        <div class="img">
          <img src="assets/user/image/b3.jpg" alt="">
          <span>HOTEL</span>
        </div>
        <div class="text">
          <div class="flex">
            <i class="far fa-user"> <label>Admin</label> </i>
            <i class="far fa-comments"> <label>2 Bình luận</label> </i>
          </div>
          <h3>Khách Sạn Của Chúng Tôi Và Những Chính Sách Mới Sau Đại Dịch</h3>
          <p>Chúng tôi luôn chú trọng đến sức khỏe và sự an toàn của khách hàng. Hãy đọc bài viết này để biết thêm về các biện pháp phòng ngừa và thay đổi dịch vụ sau đại dịch.</p>
          <a href="#">Đọc Thêm <i class='far fa-long-arrow-alt-right'></i></a>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- map -->
<section class="map top">
  <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d14131.036667732067!2d85.32395955!3d27.69383745!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2snp!4v1638187678048!5m2!1sen!2snp" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
</section>
