<div class="container">
    <aside>
        <div class="top">
            <div class="logo">
                <img src="7490889-removebg-preview.png">
                <h2>Booking-Hotel<span class="danger"></span></h2>
            </div>
            <div class="close" id="close-btn">
                <span class="material-icons-sharp">close</span>
            </div>
        </div>
        <div class="sidebar">
            <a routerLink="/admin/dashboard" class="active">
                <span class="material-icons-sharp">grid_view</span>
                <h3>Tổng Quan</h3>
            </a>
            <a routerLink="/admin/customer">
                <span class="material-icons-sharp">person_outline</span>
                <h3>Khách Hàng</h3>
            </a>
            <a routerLink="/admin/bookingmagage">
                <span class="material-icons-sharp">meeting_room</span>
                <h3>Quản lý Phòng</h3>
            </a>
            <a routerLink="/admin/employee">
                <span class="material-icons-sharp">badge</span>
                <h3>Nhân Viên</h3>
                <!-- <span class="message-count">18</span> -->
            </a>
            <a routerLink="/admin/setting">
                <span class="material-icons-sharp">settings</span>
                <h3>Cài đặt</h3>
            </a>
            <a href="login.html">
                <span class="material-icons-sharp">logout</span>
                <h3>Đăng Xuất</h3>
            </a>
        </div>
    </aside>
</div>
