<section class="room wrapper2 top" id="room">
    <div class="container">
      <div class="heading">
        <h5>PHÒNG CỦA CHÚNG TÔI</h5>
        <h2>Những căn phòng & suite hấp dẫn</h2>
      </div>
      <div *ngIf="loading">Loading rooms...</div>
      <div *ngIf="error" class="error">{{ error }}</div>
      <div *ngIf="!loading && !error" class="content grid mtop">
        <div *ngFor="let room of rooms" class="room-box">
          <img [src]="room.image" [alt]="room.roomname" />
          <div class="details">
            <h3>{{ room.roomname }}</h3>
            <p>{{ room.description }}</p>
            <p><strong>Giá:</strong> ${{ room.price }}/đêm</p>
            <!-- Thêm routerLink để chuyển đến chi tiết phòng -->
            <a [routerLink]="['room-detail', room._id]" class="btn" [class.disabled]="room.isBooked">Đặt Ngay</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  